.politics-gradient {
    background: linear-gradient(to right, #7465BE, #5379CB);
}

.science-gradient {
    background: linear-gradient(to right, #EA9C9D, #F29741);
}

.sports-gradient {
    background: linear-gradient(to right, #7465BE, #5379CB);
}

.economics-gradient {
    background: linear-gradient(to right, #7465BE, #5379CB);
}