@tailwind base;
@tailwind components;
@tailwind utilities;

.button-primary {
  @apply h-12 flex items-center justify-center bg-white text-black px-6 py-2 rounded-full font-medium text-lg;
}

.button-secondary {
  @apply h-12 flex items-center justify-center bg-white bg-opacity-10 text-white border border-white px-6 py-2 rounded-full font-medium text-lg;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
